body{
	background-attachment:fixed;
	background-size: 100% 100%;
	background-image: url(img/meteor.jpg);
	background-position:center center;
	background-repeat:no-repeat;
}

div#fejléc{
	font-family:verdana;
	color: #fff;
}
div#elso{
	float:left;
	width:49.75%;
	height:840px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-family:verdana;
	color: #fff;
}
div#masodik{
	float:right;
	width:49.8%;
	height:420px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-family:verdana;
	color: #fff;
		
}
.img-Napfogy{
	width:30%;
	border-radius:50%;
}
.img-Andromeda{
	width:30%;
	border-radius:30%;
}
	
div#harmadik{
	float:right;
	width:49.8%;
	height:420px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-family:verdana;
	color: #fff;
}