body{
	background-attachment:fixed;
	background-size: 100% 100%;
	background-color: #dac292
}
div#fejléc{
	font-family:verdana;
	color: #000;
}
div#elso{
	float:left;
	width:49.85%;
	height:420px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family:verdana;
	color: #000;
}
.img-foldkel{
	width: 50%
}

h1{
	text-decoration: underline;
}


div#masodik{
	float:right;
	width:49.8%;
	height:420px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family:verdana;
	color: #000;
}
div#harmadik{
	float:right;
	width:49.8%;
	height:420px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family:verdana;
	color: #000;
	
}
.img-Mezozoikum{
	width: 30%;
	border-radius: 50%;
}
div#negyedik{
	float:left;
	width:49.85%;
	height:420px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family:verdana;
	color: #000;
}
.img-Nap{
	width: 24%;
	border-radius: 50%;
}