body{
	background-attachment:fixed;
	background-size: 100% 100%;
	background-color: #191970;
}

div#fejléc{
	border-left: 1px solid #FFD700;
	border-right: 1px solid #FFD700;
	border-top: 1px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	font-family:verdana;
	color: #FFD700;
}
div#ketezer{
	padding-bottom:100px;
	float: left;
	width: 100%;
	height: 300px;
	border-left: 1px solid #FFD700;
	border-right: 1px solid #FFD700;
	border-top: 1px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	font-family:verdana;
	color: #FFD700;
}
div#ketezernegy{
	float:left;
	width: 100%;
	height: 370px;
	border-left: 1px solid #FFD700;
	border-right: 1px solid #FFD700;
	border-top: 1px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	font-family:verdana;
	color: #FFD700;

	
	
}
div#container{
	float: center;
}
h3{
	 text-decoration: underline;
}

.img-Subaru{
	float: right;
	width: 20%;
	padding-right: 100px;
	border-radius: 50%;
}
.img-Subaru2{
	float: right;
	width: 20%;
	padding-right:100px;
	border-radius: 40%;
}